<launch>
  <arg name="info_timeout"      default="5"/>
  <arg name="can_interface"     default="can_peak"/> 

  <node pkg="battery_varta" type="battery_varta_node" name="battery_varta_node" output="screen">
    <param name="info_timeout"    value="$(arg info_timeout)"/>
    <param name="can_interface"   value="$(arg can_interface)"/>
  </node>
</launch>
